/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
  /* display: flex;
  flex-direction: column; */
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  margin-bottom: 15px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  background-color: #ff385c;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 150px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header nav {
    padding-top: 15px;
    font-size: 20px;
  }

  section form {
    display: flex;
  }

  .form-label {
    flex-direction: column;
    margin-right: 20px;
    width: 100%;
    min-width: 0;
  }

  #about div {
    display: flex;
    flex-direction: column;
  }
  .item {
    width: 25%;
  }
  #about div:nth-child(2) {
    flex-direction: row;
  }
  #about div:nth-child(2) p {
    /* flex-grow: 3; */
    align-items: center;
    padding: 30px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid div {
    margin: 15px;
  }

  #host {
    flex-direction: row;
  }

  #host div:nth-child(1) {
    align-items: center;
    padding: 40px 0px;
  }
}
